/* MainContainer */
.container {
    width: min(100%, 1440px);
    margin: auto;
}

/* Header  */
.header {
    background-color: #012426;
    padding: 16px 94px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid #05BCCA;
}

.header_ul {
    display: flex;
    column-gap: 72px;
}

.li_link {
    color: #a1c3c9;
    font-family: Inter;
    font-size: 24px;
    font-weight: 400;
    line-height: 32px;
    transition: all 0.8s;
}

.li_link:hover {
    letter-spacing: 3px;
    color: #8aedff;
    text-shadow: 0 0 3px #fff, 0 0 5px #fff, 0 0 1px #8aedff, 0 0 3px #8aedff;
}

.active {
    color: #8aedff;
}

.header_section {
    display: flex;
    column-gap: 32px;
}

.header_buttons {
    width: 40px;
    height: 40px;
    border: 2px solid #05BCCA;
    border-radius: 8px;
    background-color: transparent;
    color: #05BCCA;
    cursor: pointer;
}

.header_icons {
    font-size: 12px;
}

.user_button {
    background-color: #05BCCA;
}

.user_icon {
    color: #2C4246;
}


.burger_icon {
    font-size: 32px;
    color: #05BCCA;
    display: none;
}


/* Section1  */
.section_home {
    height: 560px;
    background: url(../images/index_cover.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 72px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.home_frame {
    display: flex;
    column-gap: 24px;
    align-items: center;
}

.home_span {
    color: #05BCCA;
}

.home_h2 {
    font-family: Inter;
    font-size: 32px;
    font-weight: 400;
    line-height: 36px;
    color: #FFFFFF;

}

.home_arrow {
    width: 36px;
    height: 24px;
    background-color: #C46A2B;
    border: none;
    border-radius: 4px;
}

.arrow {
    color: white;
}

/* Section 2 */
.section2 {
    background-color: #1A1A1A;
    padding: 96px 94px;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.section2_header {
    font-family: Inter;
    font-size: 36px;
    font-weight: 700;
    line-height: 52px;
    color: #05BCCA;
    text-align: center;
    margin-bottom: 64px;
}


.home_card_section {
    display: flex;
    column-gap: 20px;
}

.home_card {
    padding: 8px 8px 15px 8px;
    background-color: #2C4246;
    flex: 1 1 298px;
    border: 1px solid #05BCCA;
}

.home_card_img {
    width: 100%;
    height: 221px;
    object-fit: cover;
}

.home_card_title {
    font-family: Inter;
    font-size: 16px;
    font-weight: 700;
    line-height: 27px;
    color: #D9D9D9;
    margin-block: 16px;
}

.home_card_article {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.home_card_price {
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 27px;
    color: #05BCCA;
}

.home_card_button {
    width: 58px;
    height: 28px;
    background-color: #C46A2B;
    cursor: pointer;
    border: none;
    border-radius: 4px;
}

.home_card_button_p {
    font-family: Inter;
    font-size: 12px;
    font-weight: 400;
    line-height: 20px;
    color: #FFFFFF;
}

/* section 1 catalog */
.catalog {
    padding: 96px 94px;
    background-color: #012426;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    row-gap: 64px;

}

.catalog_filter {
    display: flex;
    justify-content: space-between;
    column-gap: 859px;
}

.catalog_title_filter {
    font-family: Inter;
    font-size: 24px;
    font-weight: 700;
    line-height: 32px;
    color: #D9D9D9;
}


.catalog_header_article_1 {
    display: flex;
    column-gap: 16px;
}

.catalog_header_article_2 {
    display: flex;
    column-gap: 32px;
}

.catalog_title_sortBy {
    font-family: Inter;
    font-size: 24px;
    font-weight: 700;
    line-height: 32px;
    color: #D9D9D9;
}

.catalog_header_button {
    width: 160px;
    height: 32px;
    padding: 4px 8px;
    background-color: #A1C3C9;
    border: none;
    border-radius: 4px;
}

.header_catalog_button_article {
    display: flex;
    column-gap: 33px;
}

.catalog_header_button_title {
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: #2C4246;
}

/* CATALOG CARD SECTION  */
.card_section_catalog {
    display: grid;
    grid-template-columns: repeat(3, 400px);
    grid-template-rows: repeat(3, 404px);
    gap: 40px 20px;
    grid-template-areas:
        "CARD1 CARD2 CARD3 "
        "CARD4 CARD5 CARD6"
        "CARD7 CARD8 CARD9";
}

/* CARDS  */
.catalog_card1 {
    grid-area: CARD1;
}

.catalog_card2 {
    grid-area: CARD2;
}

.catalog_card3 {
    grid-area: CARD3;
}

.catalog_card4 {
    grid-area: CARD4;
}

.catalog_card5 {
    grid-area: CARD5;
}

.catalog_card6 {
    grid-area: CARD6;
}

.catalog_card7 {
    grid-area: CARD7;
}

.catalog_card8 {
    grid-area: CARD8;
}

.catalog_card9 {
    grid-area: CARD9;
}

.catalog_card {
    background-color: #2C4246;
}

.catalog_card_img {
    width: 100%;
    height: 298px;
    object-fit: cover;
}

.catalog_card_title_section {
    margin: 16px 8px;
    display: flex;
    flex-direction: column;
    row-gap: 16px;
}

.catalog_card_title {
    font-family: Inter;
    font-size: 16px;
    font-weight: 700;
    line-height: 27px;
    color: #D9D9D9;
}

.catalod_price_section {
    display: flex;
    justify-content: space-between;
}

.price_title {
    color: #05BCCA;
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 27px;
}

.price_section_button {
    width: 27px;
    height: 27px;
    background-color: #C46A2B;
    border: none;
    border-radius: 4px;
}

.fa-cart-shopping {
    color: #FFFFFF;
}

.previous_next_section {
    width: 394px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.previous_next_title {
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: #FFFFFF;
}

.previous_button {
    width: 121px;
    height: 40px;
    padding: 8px;
    border: none;
    border-radius: 8px;
    background-color: #C46A2B;
    color: #D9D9D9;
}

.next_button {
    width: 92px;
    height: 40px;
    padding: 8px;
    border: none;
    border-radius: 8px;
    background-color: #05BCCA;
    color: #D9D9D9;
    display: flex;
}

.previous_button_title {
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}

.next_button_title {
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}

.previous_button_section{
    display: flex;
    column-gap: 16px;
    align-items: center; 
}

.next_button_section{
    display: flex;
    column-gap: 16px;   
    align-items: center; 
}