
    /* MainContainer */
    .container {
        width: min(100%, 1440px);
        margin: auto;
    }

    /* Header  */
    .header {
        background-color: #012426;
        padding: 16px 94px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .header_ul{
        display: flex;
        column-gap: 72px;
    }

    .li_link {
        color: #a1c3c9;
        font-family: Inter;
        font-size: 24px;
        font-weight: 400;
        line-height: 32px;
        transition: all 0.8s;
    }

    .li_link:hover{
        letter-spacing: 3px;
        color: #8aedff;
        text-shadow: 0 0 3px #fff, 0 0 5px #fff, 0 0 1px #8aedff, 0 0 3px #8aedff;
    }

    .active{
        color: #8aedff;
    }

    .header_section{
        display: flex;
        column-gap: 32px;
    }

    .header_buttons{
        width: 40px;
        height: 40px;
        border: 2px solid #05BCCA;
        border-radius: 8px;
        background-color: transparent;
        color: #05BCCA;
        cursor: pointer;
    }

    .header_icons{
        width: 12px;
        height: 12px;
    }
    .user_button{
        background-color: #05BCCA;
    }

    .user_icon{
        color: #2C4246;
    }

    