            /* 745-481px  */
@media(max-width:745px){
    /* HEADER  */   
.header{
    padding-inline: 24px;
}

/* section1  */
.section_home{
    height: 480px;
    padding-top: 32px;
}
    
/* section 2 */
.section2{
    padding: 48px 0 60px 24px;
}

.home_card_section{
    width: 100%;
}

/* CATALOG PAGE  */
.catalog{
    padding: 48px 24px;
}

.card_section_catalog{
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, auto);
    grid-template-areas:"CARD1"
    "CARD2"
    "CARD3"
    "CARD4" ;
}

.catalog_card5, .catalog_card6{
    display: none;
}

/* CONTACT PAGE  */
.contact_page{
    height: 100%;
    padding: 64px 24px;
}

.contact_main{
    padding: 16px;
    flex-direction: column;
    row-gap: 48px;
}

.form_section{
    row-gap: 24px;
}

.map_section{
    row-gap: 24px;
}

.contact_button_section{
    column-gap: 42px;
}

/* FOOTER  */
.footer{
    padding-inline: 24px;
}


}

         /* 481PX */
@media(max-width:481px){
     /* HEADER  */
.header{
    padding: 28px 20px;
}

.mainlogo{
    width: 40px;
    height: 40px;
}

.header_buttons{
    width: 32px;
    height: 32px;
}

.header_section{
    column-gap: 16px;
}

/* SECTION 1  */
.home_h2{
    font-size: 24px;
    line-height: 32px;
}
/* SECTION 2  */
.section2{
    padding: 32px 0 32px 20px;
}

.undeline_home_h3{
    width: 156px;
}


/* CATALOG PAGE  */
.catalog{
    padding: 32px 20px;
}

.catalog_header_button{
    width: 38px;
}

.previous_next_section{
    column-gap: 45px;
}

.previous_button,
.next_button{
    width: 52px;
    height: 40px;
    display: flex;
    justify-content: center;
}

.catalog_title_filter{
    display: none;
}

.previous_button_title,
.next_button_title{
    display: none;
}

.catalog_header_vector_img{
    width: 24px;
    height: 24px;
}

.catalog_header_button_title{
    display: none;
}

/* CONTACT PAGE  */
.contact_page{
    padding-inline: 20px;
}

.input_section{
    flex-direction: column;
    row-gap: 36px;
}

.form_header{
    font-size: 32px;
    line-height: 39px;
}

/* FOOTER   */
.footer{
    padding: 20px 154px;
    flex-direction: column;
    row-gap: 40px;
    align-items: center;
}

.footer_li_link{
    text-align: center;
}

.icons_li{
    justify-content: center;
}
}